body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centeredContent {
    margin: 0 auto;
    padding: 20px;
    width: 500px; /* 960px; */
    background-color: white;
}

.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}

.comment {
    margin: 10px 0;
    padding: 10px;
    font-size: 10px;
    font-family: cursive;
    border-style: dotted;
    border-style: groove;
    border-width: 2px;
    border-color: coral;
}