html,body{
    width: 100%;
    height: 100%;
    
}
.media img {
    width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.close-button{
    top: 0;
    right: 3px;
    z-index: 100;
}
.edit-button{
    bottom: 15px;
    right: 10px;
    z-index: 100;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}
.bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            user-select: none;
        }

        /* @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        } */
html,body {
    padding: 0;
    margin: 0;
}
.login-background{
    background: url(https://wallpapermemory.com/uploads/808/library-background-hd-4k-74768.jpg);
    /*background-color: #e0e2e6;*/
    background-size: cover; 
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.custom-margin {
    position: relative;
} 
.alert-position{
    position: absolute;
      top: 50%;left: 50%;
    transform: translate(-50%, -50%); 
}
*:focus {
    outline: none;
}
 
/* .input-after:after {
    left: 0;
    right: 0;
    bottom: 10px;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #000000;
    pointer-events: none;
    background-color: #345483;
}
.input-after:after {
    border-bottom-color: #345483 !important;
    text-shadow: 0 0 black;
} */
        .btn {
            background: none;
            border-color: #ccc;
         }
        /* If you add background image it will look like transparent form*/
        .login-form {
            background-color: hsla(0, 93%, 49%, 0.2);
            background-repeat: no-repeat;
            scale: 60%;
            width: 100%;
            height: 100%;
        }
        .round-btn {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: #345483 solid 6px;
        }
        .dropdownMenu , .dropdownType{
            width: 100%;
            outline: none;
            border: none;
            margin:0;
        }
        .active-pink-2 input .form-control {
            border: none;
            border-bottom: 1px solid #f48fb1;
            box-shadow: 0 1px 0 0 #f48fb1;
        }

        .form-control-search{
            border-bottom: 2px solid #c5c4c7;
        }
        .form-control-search:focus{ 
            border-bottom: 3px solid #345483 ;
        } 
        .form-control-drop{
            border-bottom: 2px solid #c5c4c7;
            margin: 0;
            padding: 0;
        }
        .header-part {
            position: relative;
            z-index: 0;
        }
        .header-pic{
                padding-top: 400px;
                padding-right: 0px;
                padding-bottom: 60px;
                padding-left: 0px;
                background:url(https://bibliotheque.brossard.ca/in/rest/annotationSVC/Attachment/attach_cmsUpload_b4f0bd1d-41d1-4415-abfe-32be0c24c470);
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
        }
        
        .header-search {
            position: absolute;
            top: 45%;
            z-index: 0;
            left: 25%;
            width: 100%;
            transform: translateY(-50%);
            background-color: white;
            padding:0;
            padding-left: 3%;
            margin: auto;
            border-radius: 25px;
        }
        .header-logs {
            position: absolute;
            bottom: -2px;
            right: 0;
            text-align: center;
        }
        .header-logs-2 {
    padding-top: 25px;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 30px;
    background: #ffffff;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 20px 0px 0px 0px;
    max-width: 1200px;
    width: 100%;
    display: inline-block;
}
.header-logs-3 {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}
.header-logs-4-1 {
    margin: -0px -0px;
    justify-content: flex-start;
}
.header-logs-4  {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    min-width: 0;
    border-radius: false;
    padding: 0px;
    justify-content: center;
    flex-basis: auto;
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#category-list li:hover{
    cursor: pointer;
}
#category-list li:hover{
    background-color: lightgray;
}
#category-list-id li:hover{
    cursor: pointer;
}
#category-list-id li:hover{
    background-color: lightgray;
}
.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/


.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}
.cart-row {
    display: flex;
}
.cart-quantity {
    width: 35%;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}
.cart-item-author {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-column {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-price {
    font-size: 1.2em;
    color: #333;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

#lblCartCount ,#lblBorrowCount{
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}







.footer {
  
  color: white;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180CB;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}
.footer .about-company a:hover {
  color: #4180CB;
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}


#flashMessage {
    background-color: chartreuse;
    width: auto;
}

/* timeline */

#timeline {
  list-style: none;
  position: relative;
}
#timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #4997cd;
  left: 50%;
  margin-left: -1.5px;
}
#timeline .clearFix {
  clear: both;
  height: 0;
}
#timeline .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -25px;
  background-color: #4997cd;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
  font-size: 1.4em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
  font-size: .7em;
  position: relative;
  top: -10px;
}
#timeline .timeline-badge.timeline-filter-movement {
  background-color: #ffffff;
  font-size: 1.7em;
  height: 35px;
  margin-left: -18px;
  width: 35px;
  top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
  color: #4997cd;
  font-size: 1.3em;
  top: -1px;
}
#timeline .timeline-badge.timeline-future-movement {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  font-size: 1.7em;
  top: -16px;
  margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
  color: #4997cd;
  font-size: .9em;
  top: 2px;
  left: 1px;
}
#timeline .timeline-movement {
  border-bottom: dashed 1px #4997cd;
  position: relative;
}
#timeline .timeline-movement.timeline-movement-top {
  height: 60px;
}
#timeline .timeline-movement .timeline-item {
  padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #666;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
  text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
  color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
  color: #468c1f;
  font-size: 1.3em;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
  text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
  color: #e2001a;
  font-size: 1.3em;
}