{% extends "master.html.twig" %}
{% block title %}Please log in
{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
{# <link href="//netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> #}


<div class="container">
	<div class="page-header">
		<h1 id="">Timeline</h1>
	</div>
	<div id="timeline">
		<div class="row timeline-movement timeline-movement-top">
			<div class="timeline-badge timeline-future-movement">
				<a href="#">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
			<div class="timeline-badge timeline-filter-movement">
				<a href="#">
					<span class="glyphicon glyphicon-time"></span>
				</a>
			</div>

		</div>
		<div class="row timeline-movement">

			<div class="timeline-badge">
				<span class="timeline-balloon-date-day">06</span>
				<span class="timeline-balloon-date-month">APR</span>
			</div>


			<div class="col-sm-6  timeline-item">
				<div class="row">
					<div class="col-sm-11">
						<div class="timeline-panel credits">
							<ul class="timeline-panel-ul">
								<li>
									<span class="importo">Library 2006</span>
								</li>
								<li>
<span class="causale">The famous library's 30 th birthday. Establishment of the collection of multilingual books with the following languages: German, Arabic, Chinese, Spanish, Italian, Portuguese and Vietnamese. Realization of the Place aux jeunes project intended for adolescents with the formation of committees, the creation of a website and the purchase of documents.

									</span>
								</li>
								<li>
									<p>
										<small class="text-muted">
											<i class="glyphicon glyphicon-time"></i>
											11/09/2014</small>
									</p>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>

			<div class="col-sm-6  timeline-item">
				<div class="row">
					<div class="col-sm-offset-1 col-sm-11">
						<div class="timeline-panel debits">
							<ul class="timeline-panel-ul">
								<li>
									<span class="importo">Library 2007</span>
								</li>
								<li>
<span class="causale">The Brossard Library becomes the Brossard Georgette-Lepage Library in honor of the mayoress of the City between 1983 and 1990. In September, the wireless Internet network was established and the fictional DVD collection was launched. A home loan service in four retirement homes is offered in collaboration with the Fondation Les Amis de la Bibliothèque de Brossard .

									</span>
								</li>
								<li>
									<p>
										<small class="text-muted">
											<i class="glyphicon glyphicon-time"></i>
											11/09/2007</small>
									</p>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!--due -->

		<div class="row timeline-movement">


			<div class="timeline-badge">
				<span class="timeline-balloon-date-day">13</span>
				<span class="timeline-balloon-date-month">APR</span>
			</div>

			<div class="col-sm-offset-6 col-sm-6  timeline-item">
				<div class="row">
					<div class="col-sm-offset-1 col-sm-11">
						<div class="timeline-panel debits">
							<ul class="timeline-panel-ul">
								<li>
									<span class="importo">Library 2008</span>
								</li>
								<li>
<span class="causale">In March, 10 th anniversary of the Center affaires.doc with the unveiling of the new logo and new website. Implementation, in September, of francization visits informing newcomers of the services necessary to discover the host society and initiating them to library services through various activities.

									</span>
								</li>
								<li>
									<p>
										<small class="text-muted">
											<i class="glyphicon glyphicon-time"></i>
											11/09/2008</small>
									</p>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>

			<div class="col-sm-6  timeline-item">
				<div class="row">
					<div class="col-sm-11">
						<div class="timeline-panel credits">
							<ul class="timeline-panel-ul">
								<li>
									<span class="importo">Library 2010</span>
								</li>
								<li>
<span class="causale">
	The library is present on Youtube and Flickr. Creation of Planète livres , reading and writing workshops aimed at adults learning French as well as Brossard residents who wish to discuss their culture and those from elsewhere.

									</span>
								</li>
								<li>
									<p>
										<small class="text-muted">
											<i class="glyphicon glyphicon-time"></i>
											11/09/2010</small>
									</p>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>


		</div>
		<div class="row timeline-movement">


			<div class="timeline-badge">
				<span class="timeline-balloon-date-day">11</span>
				<span class="timeline-balloon-date-month">APR</span>
			</div>

			<div class="col-sm-offset-6 col-sm-6  timeline-item">
				<div class="row">
					<div class="col-sm-offset-1 col-sm-11">
						<div class="timeline-panel debits">
							<ul class="timeline-panel-ul">
								<li>
									<span class="importo">Library 2011</span>
								</li>
								<li>
<span class="causale">In the summer, the Brossardana website in pictures goes online, a visual testimony to the history of the City of Brossard. In the fall, workshops for borrowing digital books are offered.

									</span>
								</li>
								<li>
									<p>
										<small class="text-muted">
											<i class="glyphicon glyphicon-time"></i>
											11/09/2011</small>
									</p>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>

			<div class="col-sm-6  timeline-item">
				<div class="row">
					<div class="col-sm-11">
						<div class="timeline-panel credits">
							<ul class="timeline-panel-ul">
								<li>
									<span class="importo">Library 2016</span>
								</li>
								<li>
<span class="causale">The library celebrates its forty years of existence through a variety of activities including 40 hours of continuous animation on June 3 and 4. Inauguration of the Espace Bouvry , on August 25, presenting a collection of more than 200 species of butterflies and insects from all over the world.

									</span>
								</li>
								<li>
									<p>
										<small class="text-muted">
											<i class="glyphicon glyphicon-time"></i>
											11/09/2016</small>
									</p>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>


		</div>
	</div>
</div>

{% endblock %}
