{% extends "master.html.twig" %}
{% block title %}Please log in
{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>

	<script>
	"use strict";
		$(document).ready(function () {
			$(".datepicker").on('change', function (e) {
				
				let id=e.target.name;

				let datetime = $('input[name='+id+']').val();
				let dateformat= new Date(datetime).toLocaleDateString('fr-CA')
				$.get("/manageaccountitem/" + id + "/"+dateformat, function (data) {
					let returnInfo = JSON.parse(data);
					if (returnInfo.statusCode==200) {
						$( ".modal-header" ).removeClass('bg-danger').addClass( "bg-success" );
					}
					$('#return-book-body').html(returnInfo.response);
					$('#return-book-info').modal('show');					
				});
			});
		});
    </script>

{% endblock %}
{% block content %}
	<div class="container">
	
		<div class="row text-center text-muted mt-5">
			<div class="col-lg-12 text-left ml-2">
				<h1>Cusotmer Book List</h1>
			</div>
		</div>
		<div class="row">
			<!-- List group-->
			<ul class="list-group flex-lg-row flex-wrap col-lg-12" id="listDatas">
			{% if list %}
				{% for item in list %}
					<li class="list-group-item col-lg-12 border-0 my-3" style="height:200px">
						<div class="media flex-column flex-lg-row border shadow p-3" style="height:100%">
							<div class="col-3 row p-0" style="height:100%">
								<img src="data:image/png;base64,{{item.picture}}" style="height:100%" class="row ml-3 p-0 position-relative" alt="Generic placeholder image ">
							</div>
							<div class="media-body h-100 col-8 ml-5">
								<h5 class="mt-0 font-weight-bold mb-2 book-item-name">BookName:
									{{item.name}}</h5>
								<p class="font-italic text-muted mb-0 small book-item-author">
									<strong>Author:</strong>
									{{item.author}}
								</p>
								<p class="font-italic text-muted mb-0 small">
									<strong>ISBN</strong>
									<span>{{item.isbn}}</span>
								</p>
								<div class="d-flex align-items-center justify-content-between mt-3">
									<span class="font-weight-bold">Borrow Date</span>
									<h6 class="my-2 book-item-price">{{item.borrowdate}}</h6>
								

									<div class="date input-group p-0 col-4 shadow-sm">
										{% if item.returndate %}	
											<input type="text" name={{item.id}} placeholder="Choose a return date" value={{item.returndate}} class="form-control datepicker p-0 m-0 text-center" style="height:30px">
										{% else %}
											<input type="text" name={{item.id}} placeholder="Choose a return date"  class="form-control datepicker p-0 m-0 text-center" style="height:30px">
										{% endif %}

										<div class="input-group-append" style="height:30px">
											<span class="input-group-text">
												<i class="fa fa-clock-o"></i>
											</span>
										</div>
									</div>
								</div>

							</div>
						</div>
					</li>

				{% endfor %}
			{% endif %}
			</ul>
			<!-- End -->

		</div>
		<div id="cartDatas" class="cart-items row justify-content-between"></div>
	</div>


	<div class="modal fade" id="return-book-info" tabindex="-1" role="dialog" aria-hidden="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Book Information</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="return-book-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
jQuery(function ($) {
	$(".datepicker").datepicker();
});
</script>


{% endblock %}
