{% extends "master.html.twig" %}
{% block title %}Please log in
{% endblock %}
{% block head %}
<script> 
	//var sortOrder = "name";
	function sortBy(newOrder) {
        sortOrder = newOrder;
        refreshTodoList();
	}
	function refreshTodoList() {
		//window.location.replace("/personal/sort?sortBy=" + sortOrder);
window.location.href="/personal/sort?sortBy=" + sortOrder;



        // $.ajax({
        //     url: "/personal/sort?sortBy=" + sortOrder,
        //     type: "GET",
        //     dataType: "json",
        //     error: function(jqxhr, status, errorThrown)  {
        //         alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
        //     }
        // }).done(function(data) {
		// //	window.location.replace("/manageaccounts");
        // });
    }
</script> 
{% endblock %}
{% block content %}
<div class="container">
	<ul class="list-group shadow" id="cart-list">
		<li class="list-group-item text-bold">
			<div class="row justify-content-center ">
				<i class="fa align-self-center fa-users fa-2x d-line text-info"></i>
<h3 class="d-line align-self-center ml-5 mt-2 text-info">Account Management</h3>

			</div>
		</li>
		<li class="list-group-item text-muted">
			<div class="d-flex align-items-center justify-content-between">
				<div class="col-3 pl-5">Account list items:</div>
				
			</div>
		</li>
	<table class="table">
	<thead>
		<tr class="text-center">
			<th  scope="col"></th>
			<th  scope="col" onclick="sortBy('name')">Name</th>
			<th  scope="col" onclick="sortBy('phonenumber')">Phone</th>
			<th scope="col"  onclick="sortBy('email')">Email</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% if list %}
			{% for item in list %}
				<tr class="text-center">
					<td >
					{% if item.imageMimeType %}
						<img height="50" src="/personal/image/{{item.id}}">
						{% else %}
						<img height="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-M0QpXo1YUz2ghHVgQ__OfsjWcGTMSiL3Eg&usqp=CAU">
					{% endif %}
					</td>
					<td >{{item.name}}</td>
					<td>{{item.phonenumber}}</td>
					<td>{{item.email}}</td>
					<td>
						<a href="/manageaccounts/{{item.id}}">
							<i class="fa fa-pencil"  aria-hidden="true"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		{% endif %}
		</tbody>
	</table>

	</ul>
</div>
{% endblock %}
