{% extends "master.html.twig" %}
{% block title %}Please log in
{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<div class="container">
	<ul class="list-group shadow" id="cart-list">
		<li class="list-group-item text-bold">
			<div class="row justify-content-center ">
				<i class="fa align-self-center fa-usd fa-2x d-line text-info"></i>
				<h3 class="d-line align-self-center ml-5 mt-2 text-info">Bill Details</h3>
			</div>
		</li>
		<li class="list-group-item text-muted">
			<div class="d-flex align-items-center justify-content-between">
				<div class="col-3">Your bill items:</div>
				
			</div>
		</li>
		{% if list %}
			{% for item in list %}
				<li class="list-group-item  list-font">
					<div class="row justify-content-center">
						<div class="cart-item cart-column col-12">
							<div class="col-12 row justify-content-between">
								<span class="col-3 cart-item-title"><strong>Name:</strong> {{item.name}} </span>
								<span class="col-3 cart-item-author"><strong>Price:</strong> {{item.price}} </span>
								<span class="col-2 cart-price"><strong>Count: </strong>{{item.count}}</span>
								<span class="col-3 cart-price"><strong>Total: </strong>{{item.totalprice}}</span>
							</div>
						</div>
					</div>
				</li>
			{% endfor %}
		{% endif %}

	</ul>
</div>
{% endblock %}
