{% extends "master.html.twig" %}
{% block title %}Please log in
{% endblock %}
{% block head %}
	<script>
	"use strict";
		$(document).ready(function () {
			$.get("/bill/billDetails", function (data) {
				let returnInfo = JSON.parse(data);

				if (returnInfo.statusCode=='200'){
					let billList=returnInfo.response;
					
					for (const key in billList) {
						var bill = billList[key];
						let liStr = `
							<tr>
								<td scope="row">${bill.email}</td>
								<td>${bill.paid_amount}</td>
								<td>${bill.item_price_currency}</td>
								<td>Done!</td>
								<td>${bill.modified}</td>
								<td>
									<a href="/cart/bill/${key}">
										<i class="fa fa-chevron-right mt-1" aria-hidden="true"></i>
									</a>
								</td>
							</tr>

								`;
						$('#appendrow').append(liStr);
					
					}
				}
			});
		});
    </script>
{% endblock %}
{% block content %}
<div class="container" style="height:65%">


<table class="table ">
	<thead>
		<tr>
			<th scope="col">Email</th>
			<th scope="col">Paid Amount</th>
			<th scope="col">Price Currency</th>
			<th scope="col">Payment Status</th>
			<th scope="col">Date</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody id="appendrow">


	</tbody>
</table>


</div>

{% endblock %}
