{% extends "master.html.twig" %}
{% block title %}Please Register
{% endblock %}
{% block head %}
	<script>
		$(document).ready(function () { 
            $(".custom-file-input").on("change", function(event) {
                let files = [...event.target.files];
                let url = window.URL.createObjectURL(files[0]);
                $("#uploadimage").attr("src",url);
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
			});
			//  $('#category-input').on('paste blur change input', function () {
               
            // });
        });
	</script>
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="ml-auto mr-auto col-lg-3 bg-danger rounded-pill text-white text-center" id="emailTaken"></div>

		<div class="form-group col-lg-12 mx-auto d-flex align-items-center ">
			<div class="border-bottom w-75 ml-4"></div>
			<h4 class="px-2  text-muted font-weight-bold text-center text-muted">Book information</h4>
			<div class="border-bottom w-75 mr-4"></div>
		</div>
	</div>
	<div class="container p-0">
		<div class="row  align-items-center">
			
			<!-- Registeration Form -->
			<div class="col-md-7 col-lg-12 ml-auto mt-0 p-0">

				<form method="post" enctype="multipart/form-data">

					<div class="row">
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-book text-muted"></i>
                                </span>
                            </div>
							{% if bookItem %}
								<input id="bookname" type="text" value="{{bookItem.name}}" name="bookname" placeholder="Book Name" class="form-control bg-white border-left-0 border-md" required>
								{% else %}
								<input id="bookname" type="text" name="bookname" placeholder="Book Name" class="form-control bg-white border-left-0 border-md" required>
							{% endif %}
                        </div>
						<div class="input-group col-lg-12 mb-4">
							<div class="input-group-prepend">
								<span class="input-group-text bg-white px-4 border-md border-right-0">
									<i class="fa fa-file-text text-muted"></i>
								</span>
							</div>
							{% if bookItem %}
								<input id="description" type="text" value="{{bookItem.description}}" name="description" placeholder="Description" class="form-control bg-white border-left-0 border-md" required>
							{% else %}
								<input id="description" type="text" name="description" placeholder="Description" class="form-control bg-white border-left-0 border-md" required>
							{% endif %}                            
						</div>
						<div class="input-group col-lg-12 mb-4 position-relative">
							<div class="input-group-prepend position-relative">
								<span class="input-group-text bg-white px-4 border-md border-right-0">
									<i class="fa fa-list-alt text-muted"></i>
								</span>
							</div>
							
							{% if bookItem %}
								<input id="category-input" type="text" value="{{bookItem.categoryName}}" name="category" placeholder="Category" autocomplete="off" class="position-relative form-control bg-white border-left-0 border-md" required>
							{% else %}
								<input id="category-input" type="text" name="category" placeholder="Category" autocomplete="off" class="position-relative form-control bg-white border-left-0 border-md" required>
							{% endif %}
							<div class="text-danger position-absolute" id="categoryTaken" style="z-index: 99;left:100%;height:50px;width:200px">
								<span style="position: absolute;top:25%;"></span>
							</div>
							
							<ul class="list-group position-absolute input-group col-lg-12 pr-4" id="category-list" style="z-index: 99;top:50px">
								
							</ul>
						</div>
						

						<div class="input-group col-lg-12 mb-4">
							<div class="input-group-prepend">
								<span class="input-group-text bg-white px-4 border-md border-right-0">
									<i class="fa fa-phone-square text-muted"></i>
								</span>
							</div>
							<select id="status" name="status" class="custom-select col-lg-12 form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">
								{% if bookItem.status==2 %}
									<option value="2" selected >For borrow</option>
									<option value="1">For sale</option>
								{% elseif bookItem.status==1 %}
									<option value="2">For borrow</option>
									<option value="1" selected >For sale</option>
								{% else %}
									<option value="2">For borrow</option>
									<option value="1">For sale</option>
								{% endif %}
							</select>
							
						</div>
				
						<div class="input-group col-lg-12 mb-4">
							<div class="input-group-prepend">
								<span class="input-group-text bg-white px-4 border-md border-right-0">
									<i class="fa fa-address-book-o text-muted"></i>
								</span>
							</div>
							{% if bookItem %}
								<input id="author" type="text" name="author" value="{{bookItem.author}}" placeholder="Author" class="form-control bg-white border-left-0 border-md" required>
							{% else %}
								<input id="author" type="text" name="author" placeholder="Author" class="form-control bg-white border-left-0 border-md" required>
							{% endif %}
						</div>
						<div class="input-group col-lg-12 mb-4">
							<div class="input-group-prepend">
								<span class="input-group-text bg-white px-4 border-md border-right-0">
									<i class="fas fa-sort-numeric-up-alt text-muted"></i>
								</span>
							</div>
							{% if bookItem %}
								<input id="countnumber" type="number" name="countnumber" value="{{bookItem.countnumber}}" placeholder="Count" class="form-control bg-white border-left-0 border-md" required>
							{% else %}
								<input id="countnumber" type="number" name="countnumber" placeholder="Count" class="form-control bg-white border-left-0 border-md" required>
							{% endif %}
						</div>
              
						<!-- Last Name -->
						<div class="input-group col-lg-12 mb-4">
							<div class="input-group-prepend">
								<span class="input-group-text bg-white px-4 border-md border-right-0">
									<i class="fa fa-barcode text-muted"></i>
								</span>
							</div>
							
							{% if bookItem %}
								<input id="isbn" type="text" name="isbn" placeholder="ISBN" value="{{bookItem.isbn}}" class="form-control bg-white border-left-0 border-md" required>
							{% else %}
								<input id="isbn" type="text" name="isbn" placeholder="ISBN" class="form-control bg-white border-left-0 border-md" required>
							{% endif %}
						</div>
                        <div class="input-group col-lg-12 mb-4">
							<div class="input-group-prepend">
								<span class="input-group-text bg-white px-4 border-md border-right-0">
									<i class="fa fa-money text-muted"></i>
								</span>
							</div>
							{% if bookItem %}
								<input id="price" type="number" name="price" placeholder="Book price" value="{{bookItem.price}}" class="form-control bg-white border-left-0 border-md" required>
							{% else %}
								<input id="price" type="number" name="price" placeholder="Book price" class="form-control bg-white border-left-0 border-md" required>
							{% endif %}
                            
						</div>
				<!-- Password money-->
	
                <div class="form-group col-lg-12">
                    <div class="col-lg-12">
                        <input type="file" name="photo" class="custom-file-input" id="photo">
                        <label class="custom-file-label " for="photo">Choose file</label>
                    </div>

                </div>
                <div class="col-lg-12">
					{% if bookItem %}
						<img src="data:image/png;base64,{{bookItem.picture}}" class="rounded mx-auto d-block" id="uploadimage" width="304" height="236" alt="...">
					{% else %}
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSHh1vfk6Nyb73qG8Oa90NmwRl9aCJDjVMYHQ&usqp=CAU" class="rounded mx-auto d-block" id="uploadimage" width="304" height="236" alt="...">
					{% endif %}

                    
                </div>


                <div class="form-group col-lg-12 mt-5">
                	<input type="submit" class="btn btn-primary btn-block py-2" name="submit" value="Save your book"/>

				</div>


			</div>
		</form>
	</div>
</div></div><div class="modal fade" id="errorList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">

<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header bg-danger">
			<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" id="modal-body"></div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div></div>
<script src="../../public/js/search.js"></script>

{% endblock %}
