{% extends "master.html.twig" %}
{% block title %}Please log in
{% endblock %}
{% block head %}
<script type="module" src="/public/js/borrow.js"></script>
{% endblock %}

{% block content %}


<div class="container">
    <div class="row text-center text-muted mt-3 d-flex justify-content-between">
        <div class="col-lg-7 text-left ml-2">
            <h1>Lend Book List</h1>
        </div>
		<div class="col-lg-4 p-0">
			<nav aria-label="Page navigation example p-0 m-0">
				<ul class="pagination p-0 ml-4">
		
				</ul>
			</nav>

        </div>

    </div>
    <div class="row" style="height:90%">
            <!-- List group-->
        <ul class="list-group flex-lg-row flex-wrap col-lg-12" id="borrowsDatas">

   
        </ul> <!-- End -->
       
    </div>
</div>
<div class="modal fade"  tabindex="-1" role="dialog"  aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" ></div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="borrow-error" tabindex="-1" role="dialog"  aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title">Add failed</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="borrow-error-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="borrow-added" tabindex="-1" role="dialog"  aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-success">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="borrow-added-body">Book added to lend list</div>


			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}