{% extends "master.html.twig" %}
{% block title %}Please log in
{% endblock %}
{% block head %}
<script src="https://kit.fontawesome.com/080dc797b0.js" crossorigin="anonymous"></script>
<script src="https://js.stripe.com/v3/"></script>

	<script>
	"use strict";
		let deleteIds=[];
		let deleteBookIds=[];
		var itemChangeList=[];
		cartPageInitial() ;
		function cartPageInitial() {
	        fetch('/cart/cartpersonal').then(response => response.json())
            .then(function(data) {
				return new Promise(resolve => {
					let books = data.response;
					for (var key in books) {
							var book = books[key];
							let liStr = `
									<li class="list-group-item  list-font">
										<div class="row justify-content-center">
											<div class="cart-item cart-column col-9">
												<div class="col-12 row justify-content-between">
													<span class="col-4 cart-item-author"><strong>Author:</strong> ${book.author}</span>
													<span class="col-4 cart-item-title"><strong>Name:</strong> ${book.name}</span>
													<span class="col-3 cart-price"><strong class="item-cost">${book.price}</strong></span>
												</div>
											</div>
											<div class="cart-quantity cart-column col-2">
												<input class="cart-quantity-input" type="number" value="${book.count}">
												<button class="btn btn-danger remove-listener" name="${key}"  type="button" >REMOVE</button>
											</div>
										</div>
									</li>
									`;
							$('#cart-list').append(liStr);
						//}

					}
					resolve('Success!');
				})
            }
        ).then(function(data) {
				updateCartTotal();
				var removeCartItemButtons = document.querySelectorAll('.remove-listener')
				removeCartItemButtons.forEach(element => {
					element.addEventListener('click', removeCartItem)
				});
				var cartQuantity = document.querySelectorAll('.cart-quantity-input')
				cartQuantity.forEach(element => {
					element.addEventListener('click', updateCartTotal)
					element.addEventListener('change', updateCartTotal)
				});
			});
}
	

		function removeCartItem(event) { 
			$('#lblCartCount').html($('#lblCartCount').html()-1);
			var buttonClicked = event.target;
			if (buttonClicked.name) {
				deleteIds.push(buttonClicked.name)
			}
			deleteItems(buttonClicked.name)
			buttonClicked.parentElement.parentElement.parentElement.remove();
			updateCartTotal()
		}
	
		function updateCartTotal(event) {
			var items = document.querySelectorAll('.item-cost');
			var itemQuantity = document.querySelectorAll('.cart-quantity-input');
			var total = 0;
			items.forEach(function(element,index){
				let price=parseInt(itemQuantity[index].value);
				total+=parseFloat(element.innerText)*price;
				
			});
			document.getElementById('total-cost').innerText =  total;

			//itemChangeList
			if (event) {
				var updateClicked = event.target;
				let id=updateClicked.nextElementSibling.name;
				let count=updateClicked.value;
				fetch('/cart/update/'+id+'/'+count)
				.then(response => response.json())
					.then(data => {
					//	$('#cart-save').modal('show');
					})
					.catch((error) => {
						console.error('Error:', error);
					});
			}
			
		}
		function deleteItems(id) {
			fetch('/cart/delete/'+id)
			.then(response => response.json())
				.then(data => {
					//$('#cart-save').modal('show');
				})
				.catch((error) => {
					console.error('Error:', error);
				});
			
		}
		function updateOrInsertItems() {
		
				return new Promise(resolve => {

					fetch('/cart/update', {
						method: 'POST', // or 'PUT'
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify(itemChangeList),
					})
					.then(response => response.json())
						.then(data => {
							resolve();
							$('#cart-update-save').modal('show');
						})
						.catch((error) => {
							console.error('Error:', error);
						});
					}
				)
			
			
		}
	
		async function save() {
			if (deleteIds.length>0) {
				await deleteItems();
			}
			if (itemChangeList.length>0) {
			 	await updateOrInsertItems();
			}
			//await insertItems();
		}
		// function purchase() {
		

		// }
    </script>
{% endblock %}
{% block content %}
<div class="container" style="height:65%">

	<ul class="list-group shadow" id="cart-list" style="height:90%">
		<li class="list-group-item text-bold">
			<div class="row justify-content-center ">
				<i class="fa align-self-center fa-cart-plus fa-3x d-line text-info"></i>
				<h3 class="d-line align-self-center ml-5 mt-2 text-info">My cart</h3>
			</div>
		</li>
		<li class="list-group-item text-muted">
			<div class="d-flex align-items-center justify-content-between">
				<div class="col-3">Your cart items:</div>
				<div class="col-6 ml-0 text-right">	
					<span>Total $</span><span id="total-cost"></span>
				</div>
			</div>
		</li>
	</ul>
	<div class="d-flex align-items-center justify-content-around" id="buynow">
		<input type="submit" class="btn btn-primary btn-success mt-5 col-12 shadow" id="payButton" value="Pay Now !"/>

		{# <button class="btn btn-primary btn-success mt-5 col-5 shadow" type="button" onclick="window.location='/cart/purchase'">Purchase All</button> #}

	</div>

	<div id="paymentResponse"></div>

</div>
<div class="modal fade" id="cart-save" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-success">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body display-4" id="cart-error-body">Delete sussessful!</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="cart-update-save" tabindex="-1" role="dialog"  aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-success">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body display-4" id="cart-error-body">Save sussessful!</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script>
var buyBtn = document.getElementById('payButton');
var responseContainer = document.getElementById('paymentResponse');
    
// Create a Checkout Session with the selected product
var createCheckoutSession = function (stripe) {
	let total= document.getElementById('total-cost').innerText;
    return fetch("/stripe_charge.php", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({
            checkoutSession: 1,
			productPrice:total
        }),
    }).then(function (result) {
        return result.json();
    });
};

// Handle any errors returned from Checkout
var handleResult = function (result) {
    if (result.error) {
        responseContainer.innerHTML = '<p>'+result.error.message+'</p>';
    }
    buyBtn.disabled = false;
    buyBtn.textContent = 'Buy Now';
};

// Specify Stripe publishable key to initialize Stripe.js
var stripe = Stripe('pk_test_51HA2pUIjlJ1JmMzP0SL1QgxQLc3N4ME0X3D3ZiPZvN4VbT9xOWBJdrrjbpw1Zv36Xx7KNJ7LCtxLEQKLwHDrZQOw00bJLdtrxF');

		// document.getElementById('total-cost').innerText =  total;
		// 	$.get("/cart/" + total, function (returnedData) {
		// 		returnInfo = JSON.parse(returnedData);
		// 		if (returnInfo.statusCode!='200'){
		// 			$('#error-header').html( "DB error" );
		// 			$('#modal-error').modal('show');
		// 		}
		// 	});


buyBtn.addEventListener("click", function (evt) {
    buyBtn.disabled = true;
    buyBtn.textContent = 'Please wait...';
	
	
    createCheckoutSession().then(function (data) {
        if(data.sessionId){
            $.ajax({
				url: "/manageaccountitem?type=pay",
				type: "GET",
				dataType: "json",
			}).done(function() {
				 stripe.redirectToCheckout({
					sessionId: data.sessionId,
				}).then(
					handleResult
					);
			})
        }else{
            handleResult(data);
        }
    });
});
</script>
{% endblock %}
