{% extends "master.html.twig" %}
{% block title %}404 Error
{% endblock %}
{% block content %}
<div class="container h-100">
	<h1 class="display-4 h-50 text-center mt-5">
		<span style="color:red">404</span> Page Not Found
	</h1>
<div>



{% endblock %}
