{% extends "master.html.twig" %}
{% block title %}Please Register
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="ml-auto mr-auto col-lg-3 bg-danger rounded-pill text-white text-center" id="emailTaken">


{% block head %}
	<script>
    {
        $(document).ready(function () { 
             $("form").submit(function(e){
                e.preventDefault();
                var queryArr = window.location.pathname.split("/");
                var email=queryArr[queryArr.length-1]
                let password = $("#password").val();//phoneNumber
    
                let passwordConfirmation= $("#passwordConfirmation").val();
                


                //rgsGender
                $.post("/forgotandresetpassword", 
                    {
                        password1 : password, 
                        password2 : passwordConfirmation,
                        email:email
                    },
                    function(returnedData){
                        returnInfo = JSON.parse(returnedData);
                        if (returnInfo.statusCode==200) {
                            window.location.replace("/home");
                        } else {
                            $('#error-header').html( "DB error" );
                            $('#error-body').html( returnInfo.response );
                            $('#modal-error').modal('show');
                        }
                     
                    }
                );
            });


            // $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            //     console.log("Ajax error occured on " + settings.url);
            //     alert("Ajax error occured");
            //     });
            // });
    }
		
	</script>
{% endblock %}
</div>

    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
        <div class="border-bottom w-100 ml-5"></div>
        <span class="px-2  text-muted font-weight-bold text-muted">Register</span>
        <div class="border-bottom w-100 mr-5"></div>
    </div>
</div>
<div class="container p-0">
    <div class="row  align-items-center">
     

        <!-- For Demo Purpose -->
    <div class="col-md-5 pr-lg-5 mb-5 mb-md-0 mt-1">

<img src="https://images-na.ssl-images-amazon.com/images/I/71hlmvwZxTL._AC_SY355_.jpg" alt=""

                class="img-fluid mb-3 d-none d-md-block">
            <h1>Create an Account</h1>
            <p class="font-italic text-muted mb-0">Informing newcomers of the services necessary for exploring the host society and introducing them to library services
            through various activities..</p>
            <p class="font-italic text-muted">Snippet By <a href="https://bootstrapious.com" class="text-muted">
                    <u>Library</u></a>
            </p>
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto mt-0 p-0">
        
            <form method="post">
      
                <div class="row">
                    <!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="password" type="password" name="password" placeholder="Password"
                            class="form-control bg-white border-left-0 border-md"  required>
                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="passwordConfirmation" type="text" name="passwordConfirmation"
                            placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md"  required>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                         <input type="submit" class="btn btn-primary btn-block py-2"  value="Active your account" />
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title" id="error-header"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="error-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


{% endblock %}