{% extends "master.html.twig" %}
{% block title %}Welcome to library
{% endblock %}
{% block head %}

<script>
   function initMap(){
      // Map options
      var options = {
        zoom:9,
        center:{lat:45.5017,lng:-73.5673}

      }
      var map = new google.maps.Map(document.getElementById('map'), options);
      google.maps.event.addListener(map, 'click', function(event){
        // Add marker
        addMarker({coords:event.latLng});
      });
      var markers = [
        {
          coords:{lat:45.4550,lng:-73.4681},
          iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          content:'<h1>Library</h1>'
        },
        {
          coords:{lat:45.4065,lng:-73.9413},
          content:'<h1>John Abbott College</h1>'
        }
      ];
      // Loop through markers
      for(var i = 0;i < markers.length;i++){
        // Add marker
        addMarker(markers[i]);
      }
      // Add Marker Function
      function addMarker(props){
        var marker = new google.maps.Marker({
          position:props.coords,
          map:map,
          //icon:props.iconImage
        });
        // Check for customicon
        if(props.iconImage){
          // Set icon image
          marker.setIcon(props.iconImage);
        }
        // Check content
        if(props.content){
          var infoWindow = new google.maps.InfoWindow({
            content:props.content
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }
    }
$(document).ready(function () {

    $.get("/category/getmastercatory", function (data) {

        let returnInfo = JSON.parse(data);
        let categorylist = returnInfo.response;
        // $("#category-list").empty();
        categorylist.forEach(element => {
            var template = '';
            template = `
            <option class="search-catorgary-id" value="${element.id}">${element.name}</option>
        `;
            $(".dropdownMenu").append(template);
            
        });
    });
    //let valueid="";

    // $(document).on("click", ".search-catorgary-id", function (e) {
    //     let valueid = e.target.value ;
    //     var e = document.getElementById("ddlViewCategory");
    //     var id = e.options[e.selectedIndex].value;
    // });
     $('#category-input-id').on('paste change input', function () {
        var e = document.getElementById("ddlViewCategory");
        var id = e.options[e.selectedIndex].value;
        var value = $('#category-input-id').val();
        
        $("#category-list-id").css("display", "block")
        if (value.trim()){
            $.get("/category/getcatorybyid/" +id+"/"+ value.trim(), function (data) {
                let returnInfo = JSON.parse(data);
                searchList = returnInfo.response;
                $("#category-list-id").empty();
                searchList.forEach(element => {
                    var template = '';
                    template = `
                    <li class="list-group-item search-catorgary-id" name="${element.id}">${element.name}</li>
                `
                    $("#category-list-id").append(template);
                  
                });
            });
        }else{
            $("#category-list-id").css("display", "none")
        }
       
    });
     $(document).on("click", ".search-catorgary-id", function (e) {
        let text = e.target.innerHTML ;
        $('#category-input-id').val(text);
        $("#category-list-id").css("display", "none");
    });

//book-for-sales
    $('#book-for-sales').on('click', function (event) {
        event.preventDefault();
        $.get("/userprivilige", function (data) {
            
                window.location.replace("/saleproducts/1/referenceall");
            
        });
    });//lend
    $('#book-for-lend').on('click', function (event) {
        event.preventDefault();
        $.get("/userprivilige", function (data) {
            window.location.replace("/saleproducts/2/referenceall");
        });
    })//
    $('#personal-account').on('click', function (event) {
        event.preventDefault();
        $.get("/userprivilige", function (data) {
            window.location.replace("/personal");

        });
    })
    $('#Manage-account').on('click', function (event) {
        event.preventDefault();
        $.get("/userprivilige", function (data) {
            window.location.replace("/manageaccounts");
        });
    })
    $('#search-btn').on('click', function (event) {
        event.preventDefault();
        $.get("/userprivilige", function (data) {
            let res=JSON.parse(data);
           
                let e = document.getElementById("ddlViewCategory");
                let id = e.options[e.selectedIndex].value;

                let type = document.getElementById("book-type");
                let typeValue = type.options[type.selectedIndex].value;

                let value = $('#category-input-id').val();
                let childText='nulltext';
                if (value.trim()) {
                    childText=value.trim()
                }
                let url="/saleproducts/"+typeValue+"/"+ [childText,id];
                window.location.replace(url);
        });
    });

});

</script>


{% endblock %}

{% block content %}
<div class="position-relative container-fluid p-0 h-50 w-100">



    {# <section role="main" class="container-fluid p-0 h-25 position-relative"> #}
        <!-- Search form -->
        <div class="header-part w-100">
            
            <div class="md-form header-search py-1 px-0 w-50">
                <form class="form-group form-inline p-0 m-0 d-flex align-items-center justify-content-between w-100">
                    <div class="dropdown position-relative col-1 mt-2  p-0 form-control-drop ml-2  mb-0">
                        <select id='book-type'  class="dropdownType" name="sale-or-lend">
                            <option class="search-catorgary-id" value="1">Sales</option>
                            <option class="search-catorgary-id" value="2">Borrow</option>
                        </select>
                    </div>
                    <div class="dropdown position-relative col-1 mt-2  ml-4 p-0 form-control-drop ml-2  mb-0">
                        <select id='ddlViewCategory' class="dropdownMenu" name="category"></select>
                    </div>
            
<input id="category-input-id" autocomplete="off"  class="position-relative col-8 border-top-0 border-right-0 border-left-0 ml-4  mt-2 form-control-search" type="text" placeholder="Search" aria-label="Search">

                    <ul class="list-group position-absolute input-group w-100 mx-auto" id="category-list-id" style="z-index: 9999;top:50px"></ul>
                    <button class="btn col-1 mr-0 p-0"  id="search-btn">
                        <div class="round-btn m-0 p-0 float-right"><i class="fa fa-search"></i></div>
                    </button>
                </form>
            </div>
            <div class="header-pic"></div>
        </div>
    {# </section> #}

</div>



<div class="container position-relative"  style="z-index:-1">
        <div class="card col-12 border-0">
            <div class="card-body col-12">
                <div class="col-12 row p-0">
                    <div class="col-sm-4  mt-0 ">
                        <h1>My services</h1>
                        <h1 class="card-title">
                            <div style="display: inline-block;"> online</div>
                            <div style="display: inline-block;padding-bottom: 10px;width: 20%;">
                                <div style="width: 100%;height: 5px;background-color: blueviolet;text-align: center">
                                </div>
                            </div>
                        </h1>
                    </div>
                    <div class="col-sm-7 ml-auto mt-0 mb-0">
                            <div id="map" style="height:15rem;"></div>
                    </div>
                </div>

                <div class="container p-0 text-center">
                    <div class="row">

                        <div class="col-sm-6 col-md-4 col-lg-3 mt-5" >
                            <div class="card shadow h-100" >
                                <div class="card-body" id="personal-account">
                                    <div><i class="fa fa-user-circle fa-7x"></i></div>
                        <a href="" class="card-title stretched-link text-dark">My file</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
                            <div class="card shadow h-100">
                                <div class="card-body" id="book-for-sales">
                                    <div><i class="fa fa-credit-card  fa-7x"></i></div>
                                    <a href="" class="card-title stretched-link text-dark">Book for sales</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
                            <div class="card shadow h-100">
                                <div class="card-body"  id="book-for-lend">
                                    <div><i class="fa fa-book fa-7x"></i></div>
                                    <a href="" class="card-title stretched-link text-dark">Book for borrow</a>
                                </div>
                            </div>
                        </div>
                        {% if privilige==1 %}
                        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
                            <div class="card shadow h-100">
                                <div class="card-body" id="Manage-account">
                                    <div><i class="fa fa-address-card-o  fa-7x"></i></div>
                                    <a href="" class="card-title stretched-link text-dark">Customer Accounts Management </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="modal fade" id="login-check" tabindex="-1" role="dialog"  aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-success">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="login-check-body"></div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNH5E009XiS1mH541VVjdN7ryo-kksMuQ&callback=initMap"></script>

{% endblock %}