{% extends "master.html.twig" %}
{% block title %}Please log in
{% endblock %}
{% block head %}
    <script>
        $(document).ready(function () { 
            $('input[name=submit]').click(function (e) {
				let email = $("#email").val();
				let password = $("#password").val();
				e.preventDefault();
				let returnInfo;
				$.post("/login", { email: email, password : password}, function(returnedData,status){
						window.location.replace("/home");
					}
				).fail(function(jqxhr, status, errorThrown) {
					httpErrorHandler(jqxhr, status, errorThrown);
				});
			});
		// returnInfo = JSON.parse(returnedData);
		// 				if (returnInfo.code=='401') {
		// 					$('#error-header').html( "User name issue" );
		// 					$('#error-body').html( "User not found, pleas register first." );
		// 					$('#modal-error').modal('show');

		// 				} else if (returnInfo.code=='404'){
		// 					$('#error-header').html( "Password issue" );
		// 					$('#error-body').html( "Your password is wrong, please re-input your password." );
		// 					$('#modal-error').modal('show');
		// 				}else if (returnInfo.code=='200'){
							
		// 					//$('#lblCartCount').html( returnInfo.message);
							
		// 					window.location.replace("/home");
		// 				}
        }); 
    </script>
{% endblock %}
{% block content %}
<div class="login-background container-fluid custom-margin">
	<div class="row justify-content-center  ml-auto">
		<div class="col-sm-6 col-md-4 ">
			<form method="POST" class="shadow-lg p-4 text-white login-form "> 
				<div class="form-group">
					<i class="fas fa-user"></i>
					<label for="email" class="pl-2 font-weight-bold">Email</label>
					<input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
					<!--Add text-white below if want text color white-->
					<small class="form-text">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<i class="fas fa-key"></i>
					<label for="pass" class="pl-2 font-weight-bold">Password</label>
					<input type="password" name="password" class="form-control" id="password" placeholder="Password">
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Remember Me ?</label>
				</div>
				<input type="submit" name="submit" class="btn btn-secondary mt-3 btn-block  font-weight-bold"  value="Submit">

				<!-- Divider Text -->
				<div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
					<div class="border-bottom w-100 ml-5"></div>
					<span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
					<div class="border-bottom w-100 mr-5"></div>
				</div>
				<div class="form-group col-lg-12 p-0">
					<a href="/register" class="btn btn-block btn-info">
						<i class="fa fa-registered mr-2"></i>
						<span class="font-weight-bold">Register</span>
					</a>
					<a href="/google.php" class="btn btn-primary btn-block btn-twitter" id="subGoogle">
						<i class="fa fa-google mr-2"></i>
						<span class="font-weight-bold">Continue with Google</span>
					</a>
					{# <a href="/facebookconfig.php" class="btn btn-primary btn-block  btn-facebook">
						<i class="fa fa-facebook-f mr-2"></i>
						<span class="font-weight-bold">Continue with Facebook</span>
					</a> #}
					{# <input  name="forgot" class="btn btn-danger btn-block  font-weight-bold"   value="Forgot password"> #}
					<a href="/passreset_request" class="btn btn-block btn-warning ">
						<span class="font-weight-bold">Forgot password</span>
					</a>

				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title" id="error-header"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="error-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
