{% extends "master.html.twig" %}
{% block title %}Please log in
{% endblock %}
{% block head %}
<script src="https://kit.fontawesome.com/080dc797b0.js" crossorigin="anonymous"></script>
<script src="https://js.stripe.com/v3/"></script>

<script>
$(document).ready(function () {

	var items = document.querySelectorAll('.fa-usd');
	let total=0;

	items.forEach(function(element,index){
		total+=parseInt(element.innerText);
	});
	document.getElementById('fine-total-cost').innerText =  total;
});

</script>

{% endblock %}
{% block content %}
	<div class="container">
		<div class="row text-center text-muted mt-5">
			<div class="col-lg-9 text-left ml-2">
				<h1>My Borrow Book List</h1>
			</div>
			<div class="col-2 ml-0 text-right">	
				<span>Total $</span><span id="fine-total-cost"></span>
			</div>
		</div>
		<div class="row">
			<!-- List group-->
			<ul class="list-group flex-lg-row flex-wrap col-lg-12" id="listDatas">
			{% if list %}
				{% for item in list %}
					<li class="list-group-item col-lg-12 border-0 my-3" style="height:200px">
						<div class="media flex-column flex-lg-row border shadow p-3" style="height:100%">
							<div class="col-3 row p-0" style="height:100%">
								<img src="data:image/png;base64,{{item.picture}}" style="height:100%" class="row ml-3 p-0 position-relative" alt="Generic placeholder image ">
							</div>
							<div class="media-body h-100 col-8 ml-5">
								<h5 class="mt-0 font-weight-bold mb-2 book-item-name">BookName:
									{{item.name}}</h5>
								<p class="font-italic text-muted mb-0 small book-item-author">
									<strong>Author:</strong>
									{{item.author}}
								</p>
								<p class="font-italic text-muted mb-0 small">
									<strong>Description</strong>
									<span>{{item.description}}</span>
								</p>
								<div class="d-flex align-items-center justify-content-around mt-3">
									<span class="font-weight-bold">Borrow Date</span>
									<h6 class="my-2 book-item-price">{{item.borrowdate}}</h6>
									<span class="font-weight-bold">Return Date</span>
									<h6 class="my-2 book-item-price">{{item.returndate}}</h6>
								
									<span class="font-weight-bold">Fine</span>
									<h6 class="my-2 book-item-price"><i class="fa fa-usd mr-5 ml-1" aria-hidden="true">{{item.fine}}</i></h6>
								</div>

							</div>
						</div>
					</li>
					
				{% endfor %}
			{% endif %}
			</ul>
			<!-- End -->

		</div>
		<div id="cartDatas" class="cart-items row justify-content-between"></div>
	<div class="d-flex align-items-center justify-content-around" id="buynow">
		<input type="submit" class="btn btn-primary btn-success mt-5 col-12 shadow" id="fineButton" value="Pay Now !"/>
	</div>

<div id="finePaymentResponse"></div>
	</div>



	<div class="modal fade" id="cart-error" tabindex="-1" role="dialog" aria-hidden="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-danger">
					<h5 class="modal-title">Add failed</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="cart-error-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="cart-added" tabindex="-1" role="dialog"  aria-hidden="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-success">
					<h5 class="modal-title"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="cart-added-body"></div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

<script>
var buyBtn = document.getElementById('fineButton');
var responseContainer = document.getElementById('finePaymentResponse');
    
// Create a Checkout Session with the selected product
var createCheckoutSession = function (stripe) {
	let total= document.getElementById('fine-total-cost').innerText;
    return fetch("/stripe_charge.php", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({
            checkoutSession: 1,
			productPrice:total
        }),
    }).then(function (result) {
        return result.json();
    });
};

// Handle any errors returned from Checkout
var handleResult = function (result) {
    if (result.error) {
        responseContainer.innerHTML = '<p>'+result.error.message+'</p>';
    }
    buyBtn.disabled = false;
    buyBtn.textContent = 'Buy Now';
};

// Specify Stripe publishable key to initialize Stripe.js
var stripe = Stripe('pk_test_51HA2pUIjlJ1JmMzP0SL1QgxQLc3N4ME0X3D3ZiPZvN4VbT9xOWBJdrrjbpw1Zv36Xx7KNJ7LCtxLEQKLwHDrZQOw00bJLdtrxF');

		// document.getElementById('total-cost').innerText =  total;
		// 	$.get("/cart/" + total, function (returnedData) {
		// 		returnInfo = JSON.parse(returnedData);
		// 		if (returnInfo.statusCode!='200'){
		// 			$('#error-header').html( "DB error" );
		// 			$('#modal-error').modal('show');
		// 		}
		// 	});


buyBtn.addEventListener("click", function (evt) {
    buyBtn.disabled = true;
    buyBtn.textContent = 'Please wait...';
    
    createCheckoutSession().then(function (data) {
        if(data.sessionId){
			$.ajax({
				url: "/manageaccountitem?type=fine",
				type: "GET",
				dataType: "json",
			}).done(function() {
				 stripe.redirectToCheckout({
					sessionId: data.sessionId,
				}).then(
					handleResult
					);
			})
           
        }else{
            handleResult(data);
        }
    });
});
</script>
{% endblock %}
