{% extends "master.html.twig" %}
{% block title %}Please Register
{% endblock %}
{% block head %}
	<script>
        $(document).ready(function () { // alert("jQuery works");
            $("form[name='uploader']").submit(function (e) {
                var formData = new FormData(uploaderPersonal);
                e.preventDefault();
                 $.ajax({
                        type: "POST",
                        enctype: 'multipart/form-data',
                        url: "/personal/myinformation",
                        data: formData,
                        processData: false,
                        contentType: false,
                        error: function(jqxhr, status, errorThrown) {
                            httpErrorHandler(jqxhr, status, errorThrown);
                        }
                }).done(function (returnedData) {
                         returnInfo = JSON.parse(returnedData);
                        if (returnInfo.statusCode==200) {
                            $('.modal-body').html( returnInfo.response );
                             $('.modal-title').html("Good");
                             $(".modal-header" ).removeClass('bg-danger').addClass( "bg-success" );
                            $('#errorList').modal('show');
                        } 
                });
                // $.post("/personal/myinformation", 
                //         formData,
                //         function(returnedData){
                //         returnInfo = JSON.parse(returnedData);
                //         if (returnInfo.statusCode==200) {
                //             $('.modal-body').html( returnInfo.response );
                //              $('.modal-title').html("Good");
                //              $('.modal-header').css("background-color", "green");
                //             $('#errorList').modal('show');
                //         } else {
                //             $('.modal-body').html( returnInfo.response );
                //             $('#errorList').modal('show');
                //         }
                        
                //     }
                // );
                 //e.preventDefault();

             });
            $(".custom-file-input").on("change", function(event) {
                let files = [...event.target.files];
                let url = window.URL.createObjectURL(files[0]);
                $("#upload-personal-image").attr("src",url);
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
			});

            // $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            //     console.log("Ajax error occured on " + settings.url);
            //     alert("Ajax error occured");
            // });
        });
	</script>
{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="ml-auto mr-auto col-lg-3 bg-danger rounded-pill text-white text-center" id="emailTaken">
</div>

    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
        <div class="border-bottom w-50 ml-5"></div>
        <span class="px-2  text-muted w-50 text-center font-weight-bold text-muted"><h2>My information</h2></span>
        <div class="border-bottom w-50 mr-5"></div>
    </div>
</div>
<div class="container p-0 h-50">
   
     


    

        <!-- Registeration Form -->
        
            {% if flashMessage %}
            <div id="flashMessage">{{flashMessage}}</div>
        {% endif %}
        
        <form class="row  p-0 align-items-center h-75" id="uploaderPersonal" method="post" enctype="multipart/form-data" name="uploader" >
            <div class="col-md-6 pr-lg-5 m-0 p-0 text-center h-100">
                <h4>Change your information</h4>
                <img class="h-50" src="/personal/image/{{myinformation.id}}" alt=""
                    class="img-fluid mb-3 d-none d-md-block"  name="upload-personal-image" id="upload-personal-image" >
                <div class="col-lg-6 offset-md-3">
                    <input type="file" name="image-update" class="custom-file-input" id="image-update">
                    <label class="custom-file-label " for="image">Choose file</label>
                </div>
                <p class="font-italic text-muted mb-0">Informing newcomers of the services necessary for exploring the host society and introducing them to library services
                through various activities..</p>
                <p class="font-italic text-muted">Snippet By <a href="https://bootstrapious.com" class="text-muted">
                        <u>Library</u></a>
                </p>
            </div>  
            <div class="col-md-6  m-0 p-0">
                <div class="row">
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="fullname" type="text" name="fullname" placeholder="Name"
                    class="form-control bg-white border-left-0 border-md" value="{{myinformation.name}}">

                    </div>
                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="email" type="email" name="email" placeholder="Email Address"
                            class="form-control bg-white border-left-0 border-md"  value="{{myinformation.email}}">
                    </div>

                    <!-- Phone Number -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>
                        <select id="countryCode" name="countryCode" style="max-width: 80px"
                            class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">
                            <option value="">+1</option>
                            <option value="">+86</option>
                            <option value="">+15</option>
                            <option value="">+18</option>
                        </select>
                        <input id="phoneNumber" type="tel" name="phonenumber" placeholder="Phone Number"
                            class="form-control bg-white border-md border-left-0 pl-3" value="{{myinformation.phonenumber}}">
                    </div>


                    {# <!-- Job -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-black-tie text-muted"></i>
                            </span>
                        </div>
                        <select id="rgsGender" name="jobtitle"
                            class="form-control custom-select bg-white border-left-0 border-md">
                            <option value=""><i class="fas fa-genderless">Gender</i></i></option>
                                <option value="">Famale</option>
                                <option value="">Male</option>
                        </select>
                    </div> #}

                    <!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="password" type="password" name="password1" placeholder="Password"
                            class="form-control bg-white border-left-0 border-md"  value="{{myinformation.password}}">
                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="passwordConfirmation" type="text" name="password2"
                            placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md"  required>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                         {# <input id="saveInfor"  class="btn btn-primary btn-block py-2"  value="Confirm your change" /> #}
                         <input type="submit"  class="btn btn-primary btn-block py-2"  value="Confirm your change" />
                    </div>
                  
                </div>
            </div>
        </form>
        
    
</div>
<div class="modal fade" id="errorList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">

	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title text-white" id="exampleModalLabel">Error !</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}