{% extends "master.html.twig" %}
{% block title %}Please log in
{% endblock %}
{% block head %}{% endblock %}
{% block content %}
	<div class="container">
		<div class="row text-center text-muted mt-5">
			<div class="col-lg-12 text-left ml-2">
				<h1>My Books List</h1>
			</div>
		</div>
		<div
			class="row">
			<!-- List group-->
			<ul class="list-group flex-lg-row flex-wrap col-lg-12" id="listDatas">
			{% if list %}
				{% for item in list %}
					<li class="list-group-item col-lg-12 border-0 my-3" style="height:200px">
						<div class="media flex-column flex-lg-row border shadow p-3" style="height:100%">
							<div class="col-3 row p-0" style="height:100%">
								<img src="data:image/png;base64,{{item.picture}}" style="height:100%" class="row ml-3 p-0 position-relative" alt="Generic placeholder image ">
							</div>
							<div class="media-body h-100 col-8 ml-5">
								<h5 class="mt-0 font-weight-bold mb-2 book-item-name">BookName:
									{{item.name}}</h5>
								<p class="font-italic text-muted mb-0 small book-item-author">
									<strong>Author:</strong>
									{{item.author}}
								</p>
								<p class="font-italic text-muted mb-0 small">
									<strong>Description</strong>
									<span>{{item.description}}</span>
								</p>
								<div class="d-flex align-items-center justify-content-around mt-3">
									<span class="font-weight-bold">Price</span>
									<h6 class=" my-2 book-item-price">{{item.price}}</h6>
									<span class="font-weight-bold">Count</span>
									<h6 class=" my-2 book-item-price">{{item.count}}</h6>
								</div>

							</div>
						</div>
					</li>

				{% endfor %}
			{% endif %}
			</ul>
			<!-- End -->

		</div>
		<div id="cartDatas" class="cart-items row justify-content-between"></div>
	</div>


	<div class="modal fade" id="cart-error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-danger">
					<h5 class="modal-title">Add failed</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="cart-error-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="cart-added" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-success">
					<h5 class="modal-title"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="cart-added-body"></div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
