{% extends "master.html.twig" %}

{% block title %}
Password reset successful

{% endblock title %}

{% block content %}
<div class="container h-50">
{# <p class="text-justify">Password reset successful.</p>



<br>
<a href="/">Click to continue</a>
 #}

<div class="mt-5">
	<p class="text-justify h4 my-5">
		Password reset successful.
	</p>
	<a href="/" class="text-justify h5 my-5">Click to continue</a>

</div>

</div>

{% endblock content %}
