{% extends "master.html.twig" %}

{% block title %}
	Password reset
{% endblock title %}

{% block content %}
<div class="container h-50">



	<div class="mt-5">
		<p class="text-justify h4 my-5">
			Password reset has been sent (if an account with this email exists). Check your email in a moment.<br>

		</p>
		<a href="/" class="text-justify h5 my-5">Click to continue</a>

	</div>

</div>

{% endblock content %}
