{% extends "master.html.twig" %}

{% block title %}
	Password reset
{% endblock title %}

{% block content %}
<div class="container h-50">

<h2>Password reset</h2>

	<form method="POST" autocomplete="off">
		<ul class="bg-danger">
			{% for error in errorList %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>

		{# <div class="formInput">
			<label>New password</label>
			<input type="password" name="pass1"/>
		</div> #}
		<div class="input-group col-lg-12 my-4">
			<input type="password" name="pass1" placeholder="New password" class="form-control bg-white border-md" required>
		</div>

		<div class="input-group col-lg-12 my-4">
			{# <label>New password(repeat)</label>
			<input type="password" name="pass2"/> #}
			<input type="password" name="pass2" placeholder="Repeat password" class="form-control bg-white border-md" required>
		</div>
		<div class="input-group col-lg-12 mb-4">
			{# <button type="submit">Change password</button> #}
			<button type="submit" class="btn btn-primary btn-block py-2">Change password</button>
		</div>
	</form>
</div>

{% endblock content %}
