{% extends "master.html.twig" %}

{% block title %}
	Password reset request
{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
<div class="container h-50">

	<form method="POST" autocomplete="off" class="col-sm-12">

		{# <div class="formInput">
			<label>Email</label>
			<input type="text" name="email"/>
		</div>
		<div class="buttonDiv">
			<button type="submit">Send password reset email</button>
		</div> #}

		<div class="input-group col-lg-12 my-4">
			<input type="email" name="email" placeholder="Email Address" class="form-control bg-white border-md" required>
		</div>

		<div class="input-group col-lg-12 mb-4">
			<input type="submit" class="btn btn-primary btn-block py-2" value="Send password reset email"/>
		</div>

	</form>
</div>

{% endblock content %}
