{% extends "master.html.twig" %}
{% block title %}Please log in
{% endblock %}
{% block head %}
    <script>
      
    </script>
{% endblock %}
{% block content %}
<div class="container">

<ul class="list-group shadow">
	<li class="list-group-item text-bold">
		<div class="row justify-content-center">
			<i class="fa align-self-center fa-user-circle fa-3x d-line"></i>
			<h3 class="d-line align-self-center ml-5 mt-2">User Name</h3>
		</div>
	</li>
	<li class="list-group-item text-muted">Quick access: </li>
	<li class="list-group-item  list-font py-4">
		<a href="/borrowlist/borrowlistpage" class="text-dark">
			<i class="fa fa-book mr-5" aria-hidden="true"></i>Materials currently borrowed:
			<i class="fa fa-chevron-right float-right mt-1" aria-hidden="true"></i>
		</a>
	</li>
	<li class="list-group-item text-dark py-4">
		<a href="/personal/mylist" class="text-dark">
			<i class="fa fa-bookmark-o mr-5" aria-hidden="true"></i>Materials currently bought: 
			<i class="fa fa-chevron-right float-right mt-1" aria-hidden="true"></i>
		</a>
	</li>
	<li class="list-group-item text-dark py-4">
		<a href="/bill/billlist?paymenttype=2" class="text-dark">
			<i class="fa fa-calendar-o mr-5" aria-hidden="true"></i>My Fine Bills: 
			<i class="fa fa-chevron-right float-right mt-1" aria-hidden="true"></i>
		</a>
	</li>
	<li class="list-group-item text-dark py-4">
		<a href="/bill/billlist?paymenttype=1" class="text-dark">

			<i class="fa fa-usd mr-5 ml-1" aria-hidden="true"></i>My bought Bills
			<i class="fa fa-chevron-right float-right mt-1" aria-hidden="true"></i>
		</a>
	</li>
	<li class="list-group-item text-dark py-4">
		<a href="/cart/cartpersonalpage"class="text-dark">
			<i class="fa fa-list-ul mr-5" aria-hidden="true"></i>My Cart List
			<i class="fa fa-chevron-right float-right mt-1" aria-hidden="true"></i>
		</a>
	</li>
	<li class="list-group-item text-dark py-4">
		<a href="/personal/myinformation" class="text-dark">
			<i class="fa fa-user-o mr-5" aria-hidden="true"></i>Change personal information
			<i class="fa fa-chevron-right float-right mt-1" aria-hidden="true"></i>
		</a>
	</li>
	<li class="list-group-item text-dark py-4">
		<a href="/googlelogout.php" class="text-white btn btn-primary col-12">
			<i class="fa fa-sign-out fa-1x" aria-hidden="true"></i>
			<h3 class="d-inline ml-5">Log Out</h3>
		</a>
	</li>
</ul>


</div>

{% endblock %}
