{% extends "master.html.twig" %}
{% block title %}Please Register{% endblock %}
{% block head %}
<script src="https://kit.fontawesome.com/080dc797b0.js" crossorigin="anonymous"></script>
<script src="https://js.stripe.com/v3/"></script>


{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="ml-auto mr-auto col-lg-3 bg-danger rounded-pill text-white text-center" id="emailTaken"></div>

    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
        <div class="border-bottom w-100 ml-5"></div>
        <span class="px-2  text-muted font-weight-bold text-muted">Your Bill</span>
        <div class="border-bottom w-100 mr-5"></div>
    </div>
</div>
<div class="container p-0">
    <div class="row  align-items-center">
        <!-- For Demo Purpose -->
    <div class="col-md-5 pr-lg-5 mb-5 mb-md-0 mt-1">

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-YWTrcF7oR-oTXA-RH5a9-1f9uk6oj4_bXg&usqp=CAU" alt=""


                class="img-fluid mb-3 d-none d-md-block">
            <h1>Payment </h1>
<p class="font-italic text-muted mb-0">You may pay after receipt of your order via a bank transfer. Payments must be made within 30 days from the date stated in your invoice. 
Bank information for payment is listed at the bottom of your invoice.</p>

            <p class="font-italic text-muted">Snippet By <a href="https://bootstrapious.com" class="text-muted">
                    <u>Library</u></a>
            </p>
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto mt-0 p-0">
        
            <form method="post">
      
                <div class="row">
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="holdername" type="text" name="holdername" placeholder="Card Holder Name"
                            class="form-control bg-white border-left-0 border-md"  required>
                    </div>

             

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="cardemail" type="email" name="cardemail" placeholder="Email Address"
                            class="form-control bg-white border-left-0 border-md"  required>
                    </div>

                    <!-- Phone Number -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>
                        <select id="countryCode" name="countryCode" style="max-width: 80px"
                            class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">
                            <option value="">+1</option>
                            <option value="">+86</option>
                            <option value="">+15</option>
                            <option value="">+18</option>
                        </select>
                        <input id="cardphoneNumber" type="tel" name="cardphoneNumber" placeholder="Phone Number"
                            class="form-control bg-white border-md border-left-0 pl-3" required>
                    </div>
                    <!-- Password -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="cardpassword" type="password" name="cardpassword" placeholder="Card Password"
                            class="form-control bg-white border-left-0 border-md"  required>
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="Address" type="text" name="Address" placeholder="Address"
                            class="form-control bg-white border-left-0 border-md"  required>
                    </div>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="city" type="text" name="city" placeholder="City"
                            class="form-control bg-white border-left-0 border-md"  required>
                    </div>
                    {# <div id="paymentResponse"></div> #}
                    <!-- Last Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="zip" type="text" name="zip" placeholder="Zip"
                            class="form-control bg-white border-left-0 border-md"  required>
                    </div>

                    <!-- Submit Button -->



                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="errorList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">

	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}