{% extends "master.html.twig" %}
{% block title %}Please Register
{% endblock %}
{% block head %}
	<script>
		$(document).ready(function () { // alert("jQuery works");
          
            $('#email').on('change', function () {
                var email = $('input[name=email]').val();
                $("#emailTaken").load("/isemailtaken/"+ email);
            });
            $("form").submit(function(e){
                e.preventDefault();
                let email = $("#email").val();
                let firstName = $("#firstName").val();
                let lastName = $("#lastName").val();
                let password = $("#password").val();//phoneNumber
                let returnInfo;
                let phoneNumber =  $("#countryCode").val()+ $("#phoneNumber").val();
                let passwordConfirmation= $("#passwordConfirmation").val();
                let rgsGender= document.querySelector('#rgsGender').value;
                //rgsGender
                $.post("/register", 
                    {
                        firstname:firstName ,
                        lastname:lastName ,
                        email: email, 
                        password1 : password, 
                        password2 : passwordConfirmation,
                        phonenumber:phoneNumber,
                        sex:rgsGender
                    },
                    function(returnedData,status){
                            window.location.replace("/home");                        
                    }
                )
            });
        });
	</script>
{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="ml-auto mr-auto col-lg-3 bg-danger rounded-pill text-white text-center" id="emailTaken">



</div>

    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
        <div class="border-bottom w-100 ml-5"></div>
        <span class="px-2  text-muted font-weight-bold text-muted">Register</span>
        <div class="border-bottom w-100 mr-5"></div>
    </div>
</div>
<div class="container p-0">
    <div class="row  align-items-center">
     

        <!-- For Demo Purpose -->
    <div class="col-md-5 pr-lg-5 mb-5 mb-md-0 mt-1">

<img src="https://images-na.ssl-images-amazon.com/images/I/71hlmvwZxTL._AC_SY355_.jpg" alt=""

                class="img-fluid mb-3 d-none d-md-block">
            <h1>Create an Account</h1>
            <p class="font-italic text-muted mb-0">Informing newcomers of the services necessary for exploring the host society and introducing them to library services
            through various activities..</p>
            <p class="font-italic text-muted">Snippet By <a href="https://bootstrapious.com" class="text-muted">
                    <u>Library</u></a>
            </p>
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto mt-0 p-0">
        
            <form method="post">
      
                <div class="row">
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="firstName" type="text" name="firstname" placeholder="First Name"
                            class="form-control bg-white border-left-0 border-md"  required>
                    </div>

                    <!-- Last Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="lastName" type="text" name="lastname" placeholder="Last Name"
                            class="form-control bg-white border-left-0 border-md"  required>
                    </div>

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="email" type="email" name="email" placeholder="Email Address"
                            class="form-control bg-white border-left-0 border-md"  required>
                    </div>

                    <!-- Phone Number -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>
                        <select id="countryCode" name="countryCode" style="max-width: 80px"
                            class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">
                            <option value="">+1</option>
                            <option value="">+86</option>
                            <option value="">+15</option>
                            <option value="">+18</option>
                        </select>
                        <input id="phoneNumber" type="tel" name="phone" placeholder="Phone Number"
                            class="form-control bg-white border-md border-left-0 pl-3" required>
                    </div>


                    <!-- Job -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-black-tie text-muted"></i>
                            </span>
                        </div>
                        <select id="rgsGender" name="jobtitle"
                            class="form-control custom-select bg-white border-left-0 border-md">
                            <option value=""><i class="fas fa-genderless">Gender</i></i></option>
                                <option value="">Famale</option>
                                <option value="">Male</option>
                        </select>
                    </div>

                    <!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="password" type="password" name="password" placeholder="Password"
                            class="form-control bg-white border-left-0 border-md"  required>
                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="passwordConfirmation" type="text" name="passwordConfirmation"
                            placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md"  required>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                         <input type="submit" class="btn btn-primary btn-block py-2"  value="Create your account" />
                    </div>
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Already Registered? 
                        <a href="/login" class="text-primary ml-2">Login</a></p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="errorList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">

	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title text-white" id="exampleModalLabel">Error !</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}