{% extends "master.html.twig" %}
{% block title %}Please log in
{% endblock %}
{% block head %}
<script type="module" src="/public/js/cart.js"></script>

{% endblock %}
{% block content %}
{# <div class="container" style="height:65%">

	<ul class="list-group shadow" id="cart-list" style="height:90%"> #}


<div class="container" style="height:70%">

    <div class="row text-center text-muted mt-3 d-flex justify-content-between">
        <div class="col-lg-7 text-left ml-2">
            <h1>Book List</h1>
        </div>
		<div class="col-lg-4 p-0">
			<nav aria-label="Page navigation example p-0 m-0">
				<ul class="pagination p-0 ml-4">
		
				</ul>
			</nav>

        </div>

    </div>
	<div class="row" style="height:90%">

				<!-- List group-->
			<ul class="list-group flex-lg-row flex-wrap col-lg-12" id="saleDatas">

	
			</ul> <!-- End -->
		
		</div>
		<div id="cartDatas" class="cart-items row justify-content-between"></div>
	</div>


<div class="modal fade" id="cart-error" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title" >Add failed</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="cart-error-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="cart-added" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-success">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="cart-added-body"></div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}